<script type="text/javascript" src="{{'js/cookie.js'|file}}"></script>
<div class="card cookie-notice text-white bg-dark" id="cookie-notice">
    <div class="card-body">
        <p class="card-text">
            {{'cookie-notice-text'|translate}} <a href="{{'company.imprint'|href}}">{{'imprint'|translate}}</a>.</p>
            <a href="javascript:void(0)" onclick="agreeToCookies()" class="btn btn-sm btn-success">{{'cookie-notice-accept'|translate}}</a>
            <a href="javascript:void(0)" onclick="declineCookies()" class="btn btn-sm btn-danger">{{'cookie-notice-decline'|translate}}</a>
    </div>
</div>