{% extends("landing-page.html") %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="article">
                <h1 class="display-6">Imprint</h1>
                <hr />
                <p class="lead">
                    The person responsible for this website is
                    <strong>
                    Andreas Dewes
                    Sächsische Str. 26
                    10707 Berlin.</strong>
                </p>
                <h1>Data Protection</h1>
                <p class="lead">
                    The protection of your data is of paramount importance to us. In the following
                    sections we explain the measures that we take to protect your data as well as
                    the type of data that we collect from visitors of this website.
                </p>
                <h2>
                    Data Controller
                </h2>
                <p>
                    The data controller is identical with the responsible party mentioned above.
                </p>
                <h2>
                    Purpose of Processing
                </h2>
                <p>
                    We process personal data through this website to ensure the integrity, security
                    and reliability of the site, to collect anonymous usage statistics and to
                    respond to contact requests submitted via our contact form.
                </p>
                <h2>Server Location &amp; Logging</h2>
                <p>
                    This website is hosted on a server in the European Union (EU). We do not record
                    any information about the IP address of visitors. The software packages on our
                    server are being updated regularly, accesses to the server as well as configuration
                    changes are being monitored and regularly reviewed.
                </p>
                <h2>Anonymized Visitor Statistics</h2>
                <p>
                    We collect anonymized visitor statistics for our website using Piwik/Matomo Analytics,
                    which we self-host on a server in the European Union. To perform the analysis
                    we use a Javascript-based tracking script as well as a static PHP script, both
                    hosted on <i>analytics.algoneer.org</i>. We only activate tracking if you
                    actively consent to it and we also honor the "Do Not Track" standard,
                    which allows you to disable the tracking through your browser settings.
                    </p>
                <h2>Third Party Resources</h2>
                <p>
                    Currently, the following third-party resources are used on this website:
                </p>
                <ul>
                    <li>
                        <strong>Piwik/Matomo-Analytics:</strong> We use a Javascript script to collect
                        anonymized user statistics on our website (only loaded after you opt in).
                    </li>
                </ul>
                <h2>Content-Delivery and DDoS Protection</h2>
                <p>
                    We use Cloudflare as a DNS and content delivery provider. This helps us among other things to protect
                    our IT infrastructure from attacks and infiltration by masking our servers IP
                    addresses. You can visit the <a href="https://www.cloudflare.com/security-policy/" target="_blank">
                    Cloudflare website</a> to learn about their security and privacy policies.
                    Cloudflare might use non-optional Cookies for caching and security reasons and might also
                    perform CAPTCHA-based user authentication. These cookies are essential to ensure
                    the security and performance of our website and are not used for any other
                    purpose beyond that.
                </p>
                <h2>Your Contact Data</h2>
                <p>
                    If you provide us with your e-mail address and other contact data via our contact form,
                    we will only use that data to contact you regarding our business offerings. We will
                    keep this data on our server for at most six months.
                </p>
                <h2>Cookies</h2>
                <p>
                    You can decline the use of non-essential cookies on this website.
                    Your current choice regarding non-essential cookies: <span class="badge" data-accepted-class="badge-success" data-declined-class="badge-danger" data-no-choice-class="badge-primary" data-accepted-text="accepted" data-declined-text="declined" data-no-choice-text="no choice taken so far" id="cookie-choice">undefined (JS needs to be enabled)</span>.
                    You can update your preference here:
                </p>
                <p>
                    <a id="accept-cookies" href="javascript:void(0)" onclick="agreeToCookies()" class="btn btn-sm btn-success">Accept cookies</a>
                    <a id="decline-cookies" href="javascript:void(0)" onclick="declineCookies()" class="btn btn-sm btn-danger">Decline cookies</a>
                </p>
                <p>
                    All active cookies will be deleted when you click on "Decline cookies" (as far as possible).
                    HTTP-only cookies cannot be deleted from Javascript and need to be removed
                    manually, please follow the instructions given by your Browser vendor to do so.
                    Please note that we use a Cookie to record your choice regarding non-essential
                    cookies. This cookie does not contain any personal information and is not used
                    for any other purpose other than recording and honoring your choice.
                </p>
                <h2>
                    Your Rights
                </h2>
                <p>
                    You have the following rights regarding your personal data that we process:
                </p>
                <ul>
                    <li>
                        Access, rectification and erasure of the data.
                    </li>
                    <li>
                        Restriction of the processing of the data.
                    </li>
                    <li>
                        Objecting to the processing of the data.
                    </li>
                    <li>
                        Lodging a complaint with a supervisory authority.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}