$ss-blue: #2C56A2;
$ss-blue2: #2C55A2;
$ss-lightblue: #375EA7;
$ss-darkblue: #2581C4;
$ss-green: #95C11F;
$ss-green2: #6E9600;
$ss-yellow: #FFA600;
$light-gray: #eee;
$medium-gray: #aaa;
$dark-gray: #888;
$white: #fff;
$orange: #f5a623;

$ag-magenta: #2b1e63;
$ag-pink: #b366cf;
$ag-yellow: #f9b24d;
$ag-green: #55d3b7;
$ag-blue: #74d0ee;
$ag-lightblue:#e9f7fc;
$ag-darkblue: #24175b;